
.personal {
  display: flex;
  justify-content: space-around;
  
  padding: 130px;
  &__info {
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 12px;
    width: 30%;
    position: relative;
    right: 300px;
    bottom: 90px;
    &_box {
      font-weight: bold;
      font-size: 18px;
      a {
        color: #0b0089;
        text-decoration: none;
      }
      .mail,
      .birthday,
      .git,
      .location {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        &__logo {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
